<script type="text/plain", data-cookie-consent="tracking">
  if (!(window.doNotTrack === "1" ||
      navigator.doNotTrack === "1" ||
      navigator.doNotTrack === "yes" ||
      navigator.msDoNotTrack === "1")) {

  // Load Google tag (gtag.js)
  var gaId = '{{ site.google_analytics }}'; // uses value from _config.yml
  var gtagScript = document.createElement('script');
  gtagScript.async = true;
  gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=' + gaId;
  document.head.appendChild(gtagScript);

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', gaId);
}
</script>
  
